* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
body, html {
    font-family: "Inter", sans-serif;
    overscroll-behavior: none;
    background-color: rgb(238, 242, 247);
}
.center_text {
    text-align: center;
}
/* Header */
.nav_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
}
.nav_toggle_container {
    justify-content: end;
    width: 35%;
    display: flex;
    gap: 30px;
}
.header_contact_btn {
    background-color: #D9FE6C;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
header {
    background: radial-gradient(circle, #60B422 0%, #ABF350 90%);
    height: 730px;
}
.product_img {
    width: 535px;
    height: 535px;
    transform: 
        rotate(24deg)
        translate(10%, 0);
    display: block;
    margin: 0px auto;
}
.tagline_product {
    font-family: "Caveat", cursive;
    font-size: 114px;
    text-align: center;
    pointer-events: none;
}
.triangle_down {
    width: 20%;
    transform: translate(0, -2px);
    height: 40px;
    margin: 0 auto;
    background-color: #7FCE35;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.swipe_text {
    margin: 3px;
    text-align: center;
}

/* Baris pertama */
#sec_1 {
    padding: 200px 60px 0px 60px;
}
.sec_1_container {
    display: flex;
    justify-content: space-between;
}
.article_1 {
    width: 40%;
}
.article_1 h1 {
    font-size: 64px;
    margin-bottom: 30px;
}
.article_1 p {
    font-size: 24px;
}
.img_sec_1_container {
    background-color: #ABF350;
    width: 350px;
    height: 490px;
    margin-right: 100px;
    margin-bottom: 230px;
}

/* 
baris informasi
- gambar kiri
 */
.inf_1_container {
    display: flex;
    justify-content: space-between;
    padding: 70px 60px;
}
.img_inf_1 {
    width: 337px;
    height: 517px;
    background-color: #ABF350;
    border-radius: 15px;
}
.article_inf_1 {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article_inf_1 h2 {
    font-size: 48px;
    padding: 10px 0px;
}
/* 
Baris informasi
- gambar kanan
*/
#items_grid {
    padding-bottom: 120px;
}
.inf_2_container {
    display: flex;
    justify-content: space-between;
    padding: 70px 60px;
}
.img_inf_2 {
    width: 337px;
    height: 517px;
    background-color: #ABF350;
    border-radius: 15px;
}
.article_inf_2 {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article_inf_2 h2 {
    font-size: 48px;
    padding: 10px 0px;
}

/* Varian barang (Grid) */
.items_grid_container {
    width: 100%;
    gap: 25px;
    padding: 0px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    justify-content: center;
}
.item {
    background-color: #ffff;
    border-radius: 15px;
}
.item p, .item h2 {
    margin: 10px 10px;
}
.headline_taste_items {
    font-size: 46px;
    padding: 10px;
}
.item_img {
    width: 100%;
    aspect-ratio: 1/1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* 
Galery 
- grid 
 */
 #galery {
  padding: 40px;
}

.galery_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px 250px;
  gap: 20px;
}

/* Semua gambar */
.galery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Layout sesuai gambar */
.img-1 {
  grid-column: 1 / 4; /* hijau besar */
  grid-row: 1 / 2;
}

.img-2 {
  grid-column: 4 / 5; /* biru tinggi */
  grid-row: 1 / 3;
}

.img-3 {
  grid-column: 1 / 2; /* merah */
  grid-row: 2 / 3;
}

.img-4 {
  grid-column: 2 / 4; /* ungu */
  grid-row: 2 / 3;
}

/* Contact section */
#contact p {
    text-align: center;
    font-size: 36px;
    padding: 50px 0px;
}
.btn_contact {
    padding: 5px 20px;
    background-color: #8CD93D;
    border-radius: 15px;
    border: none;
    font-size: 36px;
    margin: 10px;
    cursor: pointer;
}

/* footer */ 
footer {
    background-color: #2D2D2D;
    padding: 20px;
    color: white;
    text-align: center;
}
.horizontal_footer {
    display: flex;
    margin: 0px auto;
    width: 70%;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
}
.footer_logo {
    flex: 1;
    text-align: left;
}
.inf_footer {
    text-align: left;
    flex: 1;
    padding-left: 70px;
    border-left: 1px solid white;
}
.bottom {
    margin-top: 70px;
}